VITE_FIREBASE_API_KEY=AIzaSyAyTML6nEH0hoi4WqpSRBe9ST9GeAd7GRw
VITE_FIREBASE_AUTH_DOMAIN=lc-nitmun.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lc-nitmun
VITE_FIREBASE_STORAGE_BUCKET=lc-nitmun.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=551936208454
VITE_FIREBASE_APP_ID=1:551936208454:web:527d959da75b2f4371e447
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id
